@media (max-width: 768px) 
  {
      #home .caption h1 
      {
        font-size: 48px;
        line-height: 57.6px;
      }
      #home .caption p 
      {
        font-size: 24px;
        line-height: 36px;
      }
      .about-box 
      {
        padding: 4rem 1.25rem;
      }
      .testimonial-box p
      {
        padding: 0 0rem;
      }
      .contact-box
      {
        padding: 3rem 1.25rem;
      }
      .dropdown-menu 
      {
        position: absolute!important;
        left: 150px;
      }
      .nested-menu
      {
          left: 75% ;
      }
      nav button
      {
        border: none!important;
      }
      nav button:focus,nav button:active
      {
        border: none!important;
        box-shadow: none!important;
      }
      .navbar-collapse
      {
        background-color: #fff;
      }
      .nav-link
      {
        color: #4e4e4e!important;
      }
      .nav-link:hover
      {
        color: var(--primary-color);
      }
      #counter
      {
          padding: 8rem 0;
      }
      nav .container
      {
        max-width: 100%;
      }
  }

@media (min-width: 768px) and (max-width:991px) 
  {
    .testimonial-box p{
      padding: 0 5rem;
    }
    .dropdown-menu 
    {
      position: absolute!important;
      left: 150px;
    }
    .nested-menu
    {
        left: 75% ;
    }
    nav button
    {
      border: none!important;
    }
    nav button:focus,nav button:active
    {
      border: none!important;
      box-shadow: none!important;
    }
    .navbar-collapse
    {
      background-color: #fff;
    }
    .nav-link
    {
      color: #4e4e4e!important;
    }
    .nav-link:hover
    {
      color: var(--primary-color);
    }
    #counter
    {
        padding: 8rem 0;
    }
    nav .container
    {
      max-width: 100%;
    }
    #counter
    {
        padding: 8rem 0;
    }
  }

@media (min-width: 992px) 
  {
    .testimonial-box p {
      padding: 0 8rem;
    }
    .nested-menu
    {
        left: -100% ;
    }
  }

@media (min-width: 1200px)
  {
    .testimonial-box p {
      padding: 0 13rem;
    }
    .nested-menu
    {
      left: -100% ;
    }
  }
  
@media (min-width: 1600px) 
  {

    .nested-menu
    {
        left: 99% ;
    }
  }